# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/vs22
/build
/.vs
/out
CMakeSettings.json
/swbuild
/assets/models/bistro
third-party/glew/glew.pc
/assets/models/sponza22
/cmake-build-debug
/cmake-build-release
/.idea
/.VSCodeCounter
